USE [Organic]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[BannerId] [tinyint] IDENTITY(1,1) NOT NULL,
	[BannerName] [nvarchar](32) NOT NULL,
	[ImageUrl] [varchar](16) NOT NULL,
	[Description] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](128) NOT NULL,
	[MemberId] [varchar](32) NOT NULL,
	[CategoryId] [smallint] NOT NULL,
	[Tags] [nvarchar](64) NOT NULL,
	[ImageUrl] [varchar](32) NOT NULL,
	[Description] [nvarchar](256) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[BlogDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [varchar](32) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [smallint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](64) NOT NULL,
	[ImageUrl] [varchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [smallint] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [int] NOT NULL,
	[MemberId] [varchar](32) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[GivenName] [nvarchar](16) NOT NULL,
	[Surename] [nvarchar](32) NULL,
	[Phone] [varchar](16) NOT NULL,
	[Address] [nvarchar](64) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberId] [varchar](32) NOT NULL,
	[Email] [varchar](64) NOT NULL,
	[Password] [varchar](128) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[GivenName] [nvarchar](16) NOT NULL,
	[Surname] [nvarchar](32) NULL,
	[LoginDate] [datetime] NOT NULL,
	[RegisterDate] [datetime] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [smallint] NOT NULL,
	[ProductName] [nvarchar](64) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageUrl] [varchar](32) NOT NULL,
	[Explain] [nvarchar](512) NOT NULL,
	[Availability] [nvarchar](16) NOT NULL,
	[Shipping] [varchar](64) NOT NULL,
	[Weight] [decimal](10, 2) NOT NULL,
	[Unit] [varchar](8) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Information] [nvarchar](max) NOT NULL,
	[Reviews] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18/12/2025 15:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [varchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([BannerId], [BannerName], [ImageUrl], [Description]) VALUES (1, N'Summer Fruit', N'banner-1.jpg', N'100% Pure Natural Fruit Juice')
INSERT [dbo].[Banner] ([BannerId], [BannerName], [ImageUrl], [Description]) VALUES (2, N'Dried & Drink Fruits', N'banner-2.jpg', N'With 25% Off All Teas')
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [MemberId], [ProductId], [Quantity], [CreatedDate], [UpdatedDate]) VALUES (1, N'4d4226eee2714b7fbc0cc81374511fc1', 1, 4, CAST(N'2025-10-22T11:54:53.183' AS DateTime), CAST(N'2025-10-22T12:41:38.827' AS DateTime))
INSERT [dbo].[Cart] ([CartId], [MemberId], [ProductId], [Quantity], [CreatedDate], [UpdatedDate]) VALUES (2, N'4d4226eee2714b7fbc0cc81374511fc1', 2, 3, CAST(N'2025-10-22T11:58:39.943' AS DateTime), CAST(N'2025-10-22T12:22:17.040' AS DateTime))
INSERT [dbo].[Cart] ([CartId], [MemberId], [ProductId], [Quantity], [CreatedDate], [UpdatedDate]) VALUES (3, N'4d4226eee2714b7fbc0cc81374511fc1', 4, 1, CAST(N'2025-10-22T12:40:00.943' AS DateTime), CAST(N'2025-10-22T12:40:00.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [ImageUrl]) VALUES (1, N'Đồ Gia Dụng Phòng Ngủ', N'cat-1.jpg')
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [ImageUrl]) VALUES (2, N'Đồ Gia Dụng Phòng Khách ', N'cat-2.jpg')
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [ImageUrl]) VALUES (3, N'Đồ Gia Dụng Phòng Tắm', N'cat-3.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentId], [DepartmentName]) VALUES (1, N'Fresh Meat')
INSERT [dbo].[Department] ([DepartmentId], [DepartmentName]) VALUES (2, N'Vegetables')
INSERT [dbo].[Department] ([DepartmentId], [DepartmentName]) VALUES (3, N'Fruit & Nut Gifts')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
INSERT [dbo].[Invoice] ([InvoiceId], [MemberId], [InvoiceDate], [GivenName], [Surename], [Phone], [Address], [Status]) VALUES (2107392, N'3ebcf0de77db4db38c8bf7fcadd5c8c3', CAST(N'2025-12-14T21:32:45.000' AS DateTime), N'khanhdilambs', N'Khanh', N'0364372769', N'43 Lê Văn Sỹ', N'New')
INSERT [dbo].[Invoice] ([InvoiceId], [MemberId], [InvoiceDate], [GivenName], [Surename], [Phone], [Address], [Status]) VALUES (13869836, N'5d13df8b80b24b95b01208b5bfd8f41b', CAST(N'2025-10-29T13:27:08.440' AS DateTime), N'khanhdilambs', N'Khanh', N'0364372769', N'43 Lê Văn Sỹ', N'New')
INSERT [dbo].[Invoice] ([InvoiceId], [MemberId], [InvoiceDate], [GivenName], [Surename], [Phone], [Address], [Status]) VALUES (17982211, N'5d13df8b80b24b95b01208b5bfd8f41b', CAST(N'2025-11-12T12:09:22.797' AS DateTime), N'khanhdilambs', N'Khanh', N'0364372769', N'43 Lê Văn Sỹ', N'New')
GO
INSERT [dbo].[InvoiceDetail] ([InvoiceId], [ProductId], [Price], [Quantity]) VALUES (73013440, 1, CAST(50.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[InvoiceDetail] ([InvoiceId], [ProductId], [Price], [Quantity]) VALUES (89804425, 1, CAST(50.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[InvoiceDetail] ([InvoiceId], [ProductId], [Price], [Quantity]) VALUES (89804425, 2, CAST(31.00 AS Decimal(10, 2)), 1)
GO
INSERT [dbo].[Member] ([MemberId], [Email], [Password], [Name], [GivenName], [Surname], [LoginDate], [RegisterDate], [RoleId]) VALUES (N'11231231231312312231234', N'tnminh@hcmunre.edu.vn', N'3C9909AFEC25354D551DAE21590BB26E38D53F2173B8D3DC3EEE4C047E7AB1C1EB8B85103E3BE7BA613B31BB5C9C36214DC9F14A42FD7A2FDB84856BCA5C44C2', N'Nhật Minh', N'Minh', N'Trần Nhật', CAST(N'2025-10-08T07:47:09.430' AS DateTime), CAST(N'2025-10-08T07:47:09.430' AS DateTime), 234023470)
INSERT [dbo].[Member] ([MemberId], [Email], [Password], [Name], [GivenName], [Surname], [LoginDate], [RegisterDate], [RoleId]) VALUES (N'134812438123479128471243', N'npcthanh@hcmunre.edu.vn', N'3C9909AFEC25354D551DAE21590BB26E38D53F2173B8D3DC3EEE4C047E7AB1C1EB8B85103E3BE7BA613B31BB5C9C36214DC9F14A42FD7A2FDB84856BCA5C44C2', N'Chí Thành', N'Thành', N'Nguyễn Phan Chí', CAST(N'2025-10-08T07:47:09.430' AS DateTime), CAST(N'2025-10-08T07:47:09.430' AS DateTime), 234102922)
INSERT [dbo].[Member] ([MemberId], [Email], [Password], [Name], [GivenName], [Surname], [LoginDate], [RegisterDate], [RoleId]) VALUES (N'3ebcf0de77db4db38c8bf7fcadd5c8c3', N'1150080001@sv.hcmunre.edu.vn', N'ba3253876aed6bc22d4a6ff53d8406c6ad864195ed144ab5c87621b6c233b548baeae6956df346ec8c17f5ea10f35ee3cbc514797ed7ddd3145464e2a0bab413', N'Nguyen Hung Van Khanh', N'khanhdilambs', N'Khanh', CAST(N'2025-12-13T23:58:48.760' AS DateTime), CAST(N'2025-12-13T23:58:48.760' AS DateTime), 234102922)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (234023470, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (234102922, N'Member')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B6160F433B18E]    Script Date: 18/12/2025 15:55:03 PM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [BlogDate]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (getdate()) FOR [LoginDate]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
